<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moneypros.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
				<key>dateExpires</key>
				<string>30/03/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_image.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>store_redirect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FC6059F8E420199C7C69BAB435BF169B01C107B</string>
						<key>dateExpires</key>
						<string>30/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PU4GJZH9A</string>
						<key>name</key>
						<string>SALASAR FINTECH PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2PU4GJZH9A.com.moneypros.allinone</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2PU4GJZH9A</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e94ced09-3b7d-472e-be41-16290a910ee2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.moneypros.allinone</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2PU4GJZH9A</string>
				<key>name</key>
				<string>SALASAR FINTECH PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
